.stock {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 19em;
}

.stock table {
  border: 0.1em solid #ddd;
  width: 100%;
  border-collapse: collapse;
}

.stock table td {
  padding: 0.5em;
}

.stock table tr:nth-child(even) {
  background: #eee;
}

.stock table th {
  background: #ddd;
  padding: 0.5em;
}

.stock .buttons {
  align-self: flex-start;
  padding-bottom: 0.5em;
}

.stock .buttons button {
  margin-right: 0.5em;
}
