@import "../node_modules/normalize.css/normalize.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  padding: 0.5em 1em;
}

button:hover {
  cursor: pointer;
}

p {
  max-width: 50em;
}
